In [14]:
### Run this cell before continuing.
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

# **What is the impact of resting blood pressure on the likelihood of an exercise induced angina?**

### Introduction

### Preliminary data analysis

Demonstrate that the dataset can be read from the web into R:

In [15]:
bak_data <- read_csv("Data/bak", col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"))
bak_data

Rows: 200 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): trestbps, chol, fbs, thalach, exang, oldpeak, slope, ca, thal
dbl (5): age, sex, cp, restecg, num

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1   63  1   4  140      260  0   1       112     1     3       2     ?  ?
2   44  1   4  130      209  0   1       127     0     0       ?     ?  ?
3   60  1   4  132      218  0   1       140     1     1.5     3     ?  ?
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
198 55  1   4  122      223  1   1       100     0     0       ?     ?  6
199 58  1   4  ?        385  1   2       ?       ?     ?       ?     ?  ?
200 62  1   2  120      254  0   2       93      1     0       ?     ?  ?
    num
1   2
2   0
3   2
⋮   ⋮
198 2
199 0
200 1

In [19]:
clevemod_data <- read_delim("Data/cleve.mod", skip = 20, col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"))
clevemod_data

Rows: 303 Columns: 15
── Column specification ────────────────────────────────────────────────────────
Delimiter: " "
chr (10): sex, cp, fbs, restecg, exang, slope, ca, thal, num, X15
dbl  (5): age, trestbps, chol, thalach, oldpeak

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex  cp     trestbps chol fbs  restecg thalach exang oldpeak slope ca
1   63  male angina 145      233  true hyp     150     fal   2.3     down  0.0
2   67  male asympt 160      286  fal  hyp     108     true  1.5     flat  3.0
3   67  male asympt 120      229  fal  hyp     129     true  2.6     flat  2.0
⋮   ⋮   ⋮    ⋮      ⋮        ⋮    ⋮    ⋮       ⋮       ⋮     ⋮       ⋮     ⋮
301 49  male notang 118      149  fal  hyp     126     fal   0.8     up    3.0
302 74  fem  abnang 120      269  fal  hyp     121     true  0.2     up    1.0
303 54  fem  notang 160      201  fal  norm    163     fal   0.0     up    1.0
    thal num  X15
1   fix  buff H
2   norm sick S2
3   rev  sick S1
⋮   ⋮    ⋮    ⋮
301 norm sick S1
302 norm buff H
303 norm buff H

In [21]:
processed_cleveland_data <- read_delim("Data/processed.cleveland.data", skip = 20, col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"))
processed_cleveland_data

Rows: 283 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): ca, thal
dbl (12): age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpea...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca  thal
1   64  1   1  110      211  0   2       144     1     1.8     2     0.0 3.0
2   58  0   1  150      283  1   2       162     0     1.0     1     0.0 3.0
3   58  1   2  120      284  0   2       160     0     1.8     2     0.0 3.0
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮   ⋮
281 57  1   4  130      131  0   0       115     1     1.2     2     1.0 7.0
282 57  0   2  130      236  0   2       174     0     0.0     2     1.0 3.0
283 38  1   3  138      175  0   0       173     0     0.0     1     ?   3.0
    num
1   0
2   0
3   1
⋮   ⋮
281 3
282 1
283 0

In [22]:
processed_hungarian_data <- read_delim("Data/processed.hungarian.data", skip = 20, col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"))
processed_hungarian_data

Rows: 274 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): trestbps, chol, fbs, restecg, thalach, exang, slope, ca, thal
dbl (5): age, sex, cp, oldpeak, num

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1   37  0   2  120      260  0   0       130     0     0       ?     ?  ?
2   37  0   3  130      211  0   0       142     0     0       ?     ?  ?
3   37  0   4  130      173  0   1       184     0     0       ?     ?  ?
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
272 56  1   4  155      342  1   0       150     1     3       2     ?  ?
273 58  0   2  180      393  0   0       110     1     1       2     ?  7
274 65  1   4  130      275  0   1       115     1     1       2     ?  ?
    num
1   0
2   0
3   0
⋮   ⋮
272 1
273 1
274 1

In [23]:
processed_switzerland_data <- read_delim("Data/processed.switzerland.data", skip = 20, col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"))
processed_switzerland_data

Rows: 103 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (8): trestbps, fbs, thalach, exang, oldpeak, slope, ca, thal
dbl (6): age, sex, cp, chol, restecg, num

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1   47  1   3  110      0    ?   0       120     1     0       ?     ?  3
2   47  1   3  155      0    0   0       118     1     1       2     ?  3
3   47  1   4  110      0    ?   1       149     0     2.1     1     ?  ?
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
101 72  1   3  160      0    ?   2       114     0     1.6     2     2  ?
102 73  0   3  160      0    0   1       121     0     0       1     ?  3
103 74  1   2  145      0    ?   1       123     0     1.3     1     ?  ?
    num
1   1
2   3
3   2
⋮   ⋮
101 0
102 1
103 1

In [24]:
processed_va_data <- read_delim("Data/processed.va.data", skip = 20, col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"))
processed_va_data

Rows: 180 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): trestbps, chol, fbs, thalach, exang, oldpeak, slope, ca, thal
dbl (5): age, sex, cp, restecg, num

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1   58  1   4  116      0    0   0       124     0     1       1     ?  ?
2   64  1   4  120      0    1   1       106     0     2       2     ?  ?
3   63  1   3  130      0    0   1       111     1     0       ?     ?  ?
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
178 55  1   4  122      223  1   1       100     0     0       ?     ?  6
179 58  1   4  ?        385  1   2       ?       ?     ?       ?     ?  ?
180 62  1   2  120      254  0   2       93      1     0       ?     ?  ?
    num
1   2
2   1
3   3
⋮   ⋮
178 2
179 0
180 1

In [25]:
reprocessed_hungarian_data <- read_delim("Data/reprocessed.hungarian.data", skip = 20, col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"))
reprocessed_hungarian_data

Rows: 274 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: " "
dbl (14): age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpea...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1   43  0   1  100      223  0   0       142     0     0       -9    -9 -9
2   44  1   2  120      184  0   0       142     0     1        2    -9 -9
3   49  0   2  124      201  0   0       164     0     0       -9    -9 -9
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
272 48  1   3  110      211  0   0       138     0     0       -9    -9  6
273 47  0   2  140      257  0   0       135     0     1        1    -9 -9
274 53  1   4  130      182  0   0       148     0     0       -9    -9 -9
    num
1   0
2   0
3   0
⋮   ⋮
272 0
273 0
274 0

### Methods

### Expected outcomes and Significance