In [14]:
### Run this cell before continuing.
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

# **Title**

### Introduction

##### Provide some relevant background information on the topic so that someone unfamiliar with it will be prepared to understand the rest of your proposal

What is angina pectoris?

What is the relationship between angina (angina pectoris) and blood pressure (hypertension)?

##### Clearly state the question you will try to answer with your project

What is the impact of resting blood pressure on the likelihood of an exercise induced angina?

##### Identify and describe the dataset that will be used to answer the question

Using the [Heart Disease dataset](https://archive.ics.uci.edu/dataset/45/heart+disease), this research aims to evaluate the impact of resting blood pressure on the likelihood of an exercise induced angina.

### Preliminary Data Analysis

##### Demonstrate that the dataset can be read from the web into R and clean and wrangle your data into a tidy format

In [31]:
bak_data <- read_csv("Data/bak", col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"), na = "?")
bak_data

Rows: 200 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (14): age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpea...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1   63  1   4  140      260  0   1       112     1     3.0      2    NA NA
2   44  1   4  130      209  0   1       127     0     0.0     NA    NA NA
3   60  1   4  132      218  0   1       140     1     1.5      3    NA NA
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
198 55  1   4  122      223  1   1       100      0     0      NA    NA  6
199 58  1   4   NA      385  1   2        NA     NA    NA      NA    NA NA
200 62  1   2  120      254  0   2        93      1     0      NA    NA NA
    num
1   2
2   0
3   2
⋮   ⋮
198 2
199 0
200 1

In [32]:
clevemod_data <- read_delim("Data/cleve.mod", skip = 20, col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"), na = "?")
clevemod_data

Rows: 303 Columns: 15
── Column specification ────────────────────────────────────────────────────────
Delimiter: " "
chr (9): sex, cp, fbs, restecg, exang, slope, thal, num, X15
dbl (6): age, trestbps, chol, thalach, oldpeak, ca

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex  cp     trestbps chol fbs  restecg thalach exang oldpeak slope ca
1   63  male angina 145      233  true hyp     150     fal   2.3     down  0
2   67  male asympt 160      286  fal  hyp     108     true  1.5     flat  3
3   67  male asympt 120      229  fal  hyp     129     true  2.6     flat  2
⋮   ⋮   ⋮    ⋮      ⋮        ⋮    ⋮    ⋮       ⋮       ⋮     ⋮       ⋮     ⋮
301 49  male notang 118      149  fal  hyp     126     fal   0.8     up    3
302 74  fem  abnang 120      269  fal  hyp     121     true  0.2     up    1
303 54  fem  notang 160      201  fal  norm    163     fal   0.0     up    1
    thal num  X15
1   fix  buff H
2   norm sick S2
3   rev  sick S1
⋮   ⋮    ⋮    ⋮
301 norm sick S1
302 norm buff H
303 norm buff H

In [33]:
processed_cleveland_data <- read_delim("Data/processed.cleveland.data", col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"), na = "?")
processed_cleveland_data

Rows: 303 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (14): age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpea...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1   63  1   1  145      233  1   2       150     0     2.3     3     0  6
2   67  1   4  160      286  0   2       108     1     1.5     2     3  3
3   67  1   4  120      229  0   2       129     1     2.6     2     2  7
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
301 57  1   4  130      131  0   0       115     1     1.2     2      1 7
302 57  0   2  130      236  0   2       174     0     0.0     2      1 3
303 38  1   3  138      175  0   0       173     0     0.0     1     NA 3
    num
1   0
2   2
3   1
⋮   ⋮
301 3
302 1
303 0

In [34]:
processed_hungarian_data <- read_delim("Data/processed.hungarian.data", col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"), na = "?")
processed_hungarian_data

Rows: 294 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (14): age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpea...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1   28  1   2  130      132  0   2       185     0     0       NA    NA NA
2   29  1   2  120      243  0   0       160     0     0       NA    NA NA
3   29  1   2  140       NA  0   0       170     0     0       NA    NA NA
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
292 56  1   4  155      342  1   0       150     1     3       2     NA NA
293 58  0   2  180      393  0   0       110     1     1       2     NA  7
294 65  1   4  130      275  0   1       115     1     1       2     NA NA
    num
1   0
2   0
3   0
⋮   ⋮
292 1
293 1
294 1

In [35]:
processed_switzerland_data <- read_delim("Data/processed.switzerland.data", col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"), na = "?")
processed_switzerland_data

Rows: 123 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (14): age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpea...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1   32  1   1   95      0    NA   0      127     0     0.7      1    NA NA
2   34  1   4  115      0    NA  NA      154     0     0.2      1    NA NA
3   35  1   4   NA      0    NA   0      130     1      NA     NA    NA  7
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
121 72  1   3  160      0    NA  2       114     0     1.6     2      2 NA
122 73  0   3  160      0     0  1       121     0     0.0     1     NA  3
123 74  1   2  145      0    NA  1       123     0     1.3     1     NA NA
    num
1   1
2   1
3   3
⋮   ⋮
121 0
122 1
123 1

In [36]:
processed_va_data <- read_delim("Data/processed.va.data", col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"), na = "?")
processed_va_data

Rows: 200 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (14): age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpea...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1   63  1   4  140      260  0   1       112     1     3.0      2    NA NA
2   44  1   4  130      209  0   1       127     0     0.0     NA    NA NA
3   60  1   4  132      218  0   1       140     1     1.5      3    NA NA
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
198 55  1   4  122      223  1   1       100      0     0      NA    NA  6
199 58  1   4   NA      385  1   2        NA     NA    NA      NA    NA NA
200 62  1   2  120      254  0   2        93      1     0      NA    NA NA
    num
1   2
2   0
3   2
⋮   ⋮
198 2
199 0
200 1

In [39]:
reprocessed_hungarian_data <- read_delim("Data/reprocessed.hungarian.data", col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"), na = "-9")
reprocessed_hungarian_data

Rows: 294 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: " "
dbl (14): age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpea...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1   40  1   2  140      289  0   0       172     0     0       NA    NA NA
2   49  0   3  160      180  0   0       156     0     1        2    NA NA
3   37  1   2  130      283  0   1        98     0     0       NA    NA NA
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
292 48  1   3  110      211  0   0       138     0     0       NA    NA  6
293 47  0   2  140      257  0   0       135     0     1        1    NA NA
294 53  1   4  130      182  0   0       148     0     0       NA    NA NA
    num
1   0
2   1
3   0
⋮   ⋮
292 0
293 0
294 0

##### Using only training data, summarize the data in at least one table (this is exploratory data analysis). An example of a useful table could be one that reports the number of observations in each class, the means of the predictor variables you plan to use in your analysis and how many rows have missing data.

##### Using only training data, visualize the data with at least one plot relevant to the analysis you plan to do (this is exploratory data analysis). An example of a useful visualization could be one that compares the distributions of each of the predictor variables you plan to use in your analysis.

### Methods

##### Explain how you will conduct either your data analysis and which variables/columns you will use. Note - you do not need to use all variables/columns that exist in the raw data set. In fact, that's often not a good idea. For each variable think: is this a useful variable for prediction?

##### Describe at least one way that you will visualize the results

### Expected Outcomes and Significance

##### What do you expect to find?

##### What impact could such findings have?

##### What future questions could this lead to?